<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="RemoteDb"
         connectionString="server=178.132.153.160;port=3306;user id=USERNAME;password=PASSWORD;database=DBNAME;"
         providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>
